DATABASE = "mongodb+srv://user:password@cluster0.y0googk.mongodb.net/name-database"
NODE_ENV="" # development: Chạy trên môi trường phát triển, production: Chạy trên môi trường sản phẩm
CODE_SECRET = "CHUOINGAUNHIEN"
